body {
    font-family: "Allan";
    background-image: url(629973-PO7FBF-677.jpg);
    background-attachment: fixed;
    background-size: contain;
}


.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 10px;
}


.topnav {
  background-color: #8C9A31;
  overflow: hidden;
  position: relative;
  top: 5px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 22px 99px;
  text-decoration: none;
  font-family: "Allan";
  font-size: 30px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #94B0DA;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: white;
}