h1{
    font-family: "Allan";
    font-size: 100px;
    padding: 10px;
    color: white;
    text-shadow: 4px 4px #494801;
    text-align: center;
    margin: 1px;
}
h2 {
    text-align: center;
    color: white;
    background-color: #8C9A31;
    font-family: "Allan";
    padding: 8px;
}
body {
    background-image: url(629973-PO7FBF-677.jpg);
    background-attachment: fixed;
    background-size: contain;
}

a {
    color: black;
    font-size: 40px;
    font-family: "Allan";
    text-decoration: none;
}
a:visited {
    color: blue;
    text-decoration-line: line-through;
}
a:hover {
  color: #9A4FF7;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
    background-color: #8C9A31;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #94b0da;
}

/* Style the container/contact section */
.container {
  padding: 20px;
    background-color: #94b0da;
}

/* Create two columns that float next to eachother */
.column {
  width: 96%;
  margin-top: 6px;
  padding-top: 100px;
  padding-left: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.topnav {
  background-color: #8C9A31;
  overflow: hidden;
  position: relative;
  top: 5px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 22px 120px;
  text-decoration: none;
  font-family: "Allan";
  font-size: 30px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #94B0DA;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

